<div class="container">
    <h1>404 - P치gina no encontrada</h1>
    <p>Lo sentimos, la p치gina que est치s buscando no existe.</p>
    <a href="/" class="btn btn-primary">Volver a la p치gina principal</a>
</div>