<h1 class="mb-4">Bienvenido al Sistema de Gestión de Biblioteca</h1>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Libros</h5>
                <p class="card-text">Gestiona el catálogo de libros de la biblioteca.</p>
                <a href="/libros" class="btn btn-primary">Ir a Libros</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Autores</h5>
                <p class="card-text">Administra la información de los autores.</p>
                <a href="/autores" class="btn btn-primary">Ir a Autores</a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Usuarios</h5>
                <p class="card-text">Gestiona los usuarios de la biblioteca.</p>
                <a href="/usuarios" class="btn btn-primary">Ir a Usuarios</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Préstamos</h5>
                <p class="card-text">Administra los préstamos de libros.</p>
                <a href="/prestamos" class="btn btn-primary">Ir a Préstamos</a>
            </div>
        </div>
    </div>
</div>